<div>

  <!-- <input type="email" [(ngModel)]="username" ng-model="username"> -->
  <input type="email" [(ngModel)]="username">
  <input type="password" [(ngModel)]="password">
  <button (click)="login()">Login</button>
  <div *ngIf="loggedUser">
    <h3>{{loggedUser.firstName}} {{loggedUser.lastName}} Logged In!</h3>
    <div *ngIf="currentPartner">
      <H5>Current Shared lunch</H5>
      {{currentPartner.firstName}} {{currentPartner.lastName}}
    </div>
  </div>
  <div [hidden]="!partners || partners.length == 0">
    <h4>HISTORY</h4>
    <div *ngFor="let item of partners">
        <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{item.firstName}} {{item.lastName}}</mat-card-title>
          <mat-card-subtitle>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>



</div>