.mat-card-subtitle {
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.mat-card-title {
    text-align: left;
    font-weight: bold;
}

.mat-card-header {    
        width: 100%;
        overflow:hidden; 
        white-space:nowrap; 
        text-overflow: ellipsis;
}

  .example-header-image {
    background-image: url('http://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    
  }